.below-line{
    height: 1px;
    background-color: #008698;
}
.text-l-color,
.betting-sub-menu dd:hover,
.betting-sub-menu dd.active,
.user-nav dl dd a.active,
.user-tips-t{
    color: #008698;
}
.text-d-color{
    color: #00515d;
}
.dark-color,
.btn-d-color,
.btn-add-num,
.chart-check i.active,
.bet-btns span:hover{
    background-color: #00515d;
}
.betting-menu span:hover,
.betting-menu span.active{
    background-color: #fff;
    color: #008698;
}
.light-color,
.border-l-color,
.btn-l-color,
.user-header,
.user-nav dl dt{
    background-color: #008698;
}
.btn-d-color.disabled,
.btn-l-color.disabled{
    color: #fff;
    background-color: #9f9f9f;
    cursor: no-drop;
}
.

/* 详情页选择 */
.row-num li.active,
.row-num li:hover{
    color: #fff;
    background-position: -250px -150px;
}
.row-text li.active,
.row-text li:hover{
    color: #fff;
    background-color: #008698;
    border-color: #008698;
}
.bet-list-switch span{
    border: 1px solid #008698;
}
.bet-list-switch span.active{
    color: #fff;
    border-color: #00515d;
    background-color: #00515d;
}
.bet-checkbox > div > i.active{
    color: #fff;
    background-color: #008698;
}

/* 会员中心 */
.user-tt span{
    border-bottom: 2px solid #008698;
    color: #008698;
}
.user-s-btn{
    background-color: #008698;
}


/* layer 扩展 */
body .layui-layer-btn .layui-layer-btn0{
    border-color: #008698;
    background-color: #008698;
}