/*
 * 会员中心公共样式
 */
body{
	/*background-color: #fff;*/
	background-color: #f0f1f6;
}
.user-header{
	height: 84px;
	padding-top: 11px;
	margin-bottom: 12px;
}
.user-nav{
	padding-bottom: 150px;
	border: 1px solid #e4e4e4;
	margin-bottom: 40px;
	margin-right: 15px;
	background-color: #fff;
}

.user-nav dl{
	width: 169px;
	margin-bottom: 2px;
	overflow: hidden;
	height: 55px;
}
.user-nav dl.open{
	height: auto;
}
.user-nav dl dt{
	height: 55px;
	line-height: 55px;
	color: #fff;
	padding-left: 38px;
	cursor: pointer;
}
.user-nav dl dt em{
    width: 25px;
    height: 25px;
    float: left;
    margin: 18px 10px 0 0;
}
.user-nav dl dt span{
	float: left;
}
.user-nav dl dt i{
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-top: 25px;
    background-position: -200px 150px;
}
.user-nav dl.open dt i{
    background-position: -150px 150px;
}
.user-nav dl dd{
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 18px;
}
.user-nav dl dd a{
	color: #666;
	display: block;
}
.user-nav dl dd a.active,
.user-nav dl dd a:hover{
	background-color: #f2f2f2;
}
.user-content{
	width: 1014px;
}
.user-con{
	background-color: #fff;
	border: 1px solid #e4e4e4;
}
.user-tt{
    height: 52px;
    line-height: 52px;
    border-bottom: 2px solid #ededed;
}
.user-tt span{
	display: block;
	height: 52px;
	line-height: 52px;
	width: 252px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
}
.user-search{
	padding-top: 30px;
	margin-bottom: 20px;
	color: #666;
}
.user-s-tt,
.user-s-sel,
.user-s-day{
	float: left;
}
.user-s-tt{
	width: 88px;
	text-align: right;
	padding-right: 10px;
	height: 35px;
	line-height: 35px;
}
.user-s-sel{}
.user-s-sel select{
	width: 133px;
	height: 36px;
	line-height: 36px;
	padding: 0;
	border: 1px solid #ededed;
}
.user-s-sel select option{}
.user-s-day{}
.user-s-day > input{
	width: 133px;
	height: 36px;
	line-height: 36px;
	border: none;
	padding: 0 10px;
	border: 1px solid #ededed;
}
.user-s-day span{
	display: inline-block;
	width: 69px;
	text-align: center;
	line-height: 36px;
}
.user-s-btn{
	width: 106px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	margin-right: 23px;
}

.user-table{
	color: #666;
}
.user-table-t{
	background-color: #f1f1f1;
	height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
}
.user-table-t li{
	float: left;
	text-align: center;
}






.user-table-c{
	background-color: #f7f7f7;
	min-height: 400px;
}
.user-table-c{

}
.user-table-c li{
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
}
.user-table-c li.empty{
	text-align: center;
	width: 100%;
	height: 52px;
	line-height: 52px;
	border-bottom: 2px solid #eaeaea;
	font-size: 15px;
	letter-spacing: 2px;
}
.user-table-c li > div{
	float: left;
}
.user-czjl .t1{width: 112px;}
.user-czjl .t2{width: 106px;}
.user-czjl .t3{width: 113px;}
.user-czjl .t4{width: 165px;}
.user-czjl .t5{width: 123px;}
.user-czjl .t6{width: 163px;}
.user-czjl .t7{width: 110px;}
.user-czjl .t8{width: 120px;}
.user-table-f{
	background-color: #fff;
	padding-top: 12px;
	height: 58px;
	line-height: 46px;
	font-size: 16px;
	overflow: hidden;
}
.user-table-f p{
	padding-left: 23px;
	margin-right: 44px;
	float: left;
}
.user-table-f p span{}

/* 网银转账 */
.user-transfer{
	height: 530px;
	padding-top: 34px;
	padding-left: 38px;
}
.user-form{
	float: left;
	color: #666;
}
.user-form > li{
	margin-bottom: 37px;
	float: left;
	width: 100%;
}
.user-form-t{
	height: 36px;
	line-height: 36px;
	font-weight: bold;
	float: left;
}
.user-form-c{
	float: left;
}
.user-form-c{}
.user-form-c input[type="text"]{
	width: 218px;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	border: 1px solid #ededed;
	font-size: 14px;
}
.user-form-c select{
	width: 218px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ededed;
}
.user-form-c select option{}
.user-bank-list{}
.user-transfer-btn{
	width: 178px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 24px;
    letter-spacing: 5px;
    bottom: 50px;
    right: 110px;
}
.user-tips{
	margin-top: 15px;
	background-color: #f7f7f7;
	padding: 10px 40px;
}
.user-tips-t{
	font-size: 16px;
	line-height: 30px;
}
.user-tips > p{
    line-height: 26px;
    font-size: 15px;
    color: #666;
    letter-spacing: 2px;
}
/* 微信转账 + 支付宝转账 */
.wechart,.alipay{
	height: 670px;
}
.quoat-list{
	font-size: 15px;
	color: #666;
	margin: 20px 0;
}
.quoat-list li{
	float: left;
	border: 1px solid #ededed;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	margin-right: 20px;
	border-radius: 3px;
	cursor: pointer;
}
.quoat-list li.active{
	border-color: #ffeab9;
	background-color: #ffeab9;
}
.quoat-list li.disabled{
	border-color: #ededed;
	background-color: #ededed;
    cursor: no-drop;
}
/* 线上支付 */
.online{
	height: 547px;
}