/* chart */
.chart-top{
    height: 63px;
    line-height: 63px;

}
.chart-issue{margin-right: 20px;}
.chart-issue-c{
    margin-right: 30px;
}
.chart-switch{}
.chart-check{
    margin-right: 15px;
}
.chart-check i{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #cdcdcd;
    float: left;
    margin: 21px 2px 0 0;
}
.chart-box{
    background-color: #fff;
    margin-bottom: 23px;
}
.chart-wrp {
	border: 1px solid #ddd;
	border-radius: 6px;
}
.top-title {
	border-bottom: 1px solid #ddd;
	background-color: #e9e9e9;
}
.po-middle {
	display: inline-block;
	vertical-align: middle;
}
.firstTwo-wrp {
	text-align: center;
	float: left;
}
.chart-lastWrp.po-middle {
	float: right;
    width: 144px;
	padding-top: 24px;
}
.chart-lastWrp.po-middle li {
	display: inline-block;
	font-size: 13px;
	letter-spacing: -1px;
	margin: 0 -6px 0 15px;
	position: relative;
	float: left;
}
.top-title div, .top-title span {
	font-size: 13px;
}
.top-title span{
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}
.top-title ul{
    margin-top: 5px;
    overflow: hidden;
}
.chart-lastWrp.po-middle ul{
	overflow: inherit;
}
.sm-ch.po-middle {
    text-align: center;
    width: 111px;
    border-right: 1px solid #ddd;
    height: 70px;
    line-height: 70px;
    float: left;
}
.mm-ch.po-middle{
    width: 70px;
    border-right: 1px solid #ddd;
    height: 70px;
    line-height: 70px;
    float: left;
}
.game-type-list {
	position: relative;
	text-align: center;
}
.ch-chart {
	display: inline-block;
    text-align: center;
    float: left;
    border-right: 1px solid #ddd;
    height: 70px;
    width: 175px;
}
.ch-chart li {
    font-size: 12px;
    display: inline-block;
    height: 20px;
    letter-spacing: -1px;
    line-height: 20px;
    margin-bottom: 0;
    margin-right: -3px;
    position: relative;
    text-align: center;
    text-indent: -1px;
    width: 20px;
    z-index: 3;
    float: left;
}
.ch-row-contner {
	border-bottom: 1px solid #e9e9e9;
	cursor: default;
	overflow: hidden;
}
.ch-row-contner:hover {
	background: #d8ebfc none repeat scroll 0 0;
}
.ch-row-contner * {
	font-size: 12px;
}
.firstdatail.po-middle {
	text-align: center;
	float: left;
}
.ch-drawNumb.po-middle {
	text-align: center;
    width: 111px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #ddd;
    float: left;
}
.winning-Num.po-middle{
	width: 70px;
	height: 40px;
    line-height: 40px;
    border-right: 1px solid #ddd;
}
.winning-Num li {
	display: inline-block;
}
.numCount-wrp.po-middle {
	position: relative;
	text-align: center;
}
.numCount-wrp.po-middle .po-middle {
    float: left;
    width: 175px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #ddd;
    padding-top: 10px;
}
.numCount-wrp .po-middle > li {
	display: inline-block;
	height: 20px;
	letter-spacing: -1px;
	line-height: 20px;
	margin-bottom: 0;
	margin-right: -3px;
	position: relative;
	text-align: center;
	text-indent: -1px;
	width: 20px;
	z-index: 3;
	float: left;
}
.numCount-wrp .noNumber li {
    visibility: hidden;
}
.game-3D .po-middle li {
    margin-bottom: 0;
    margin-right: 8.8px;
    margin-top: 0;
}
.hit-blue, .hit-red {
	visibility: visible !important;
}
.hit-blue {
	background: url("../images/chart-sprite.png") repeat scroll -118px 0;
	border-radius: 100%;
	color: #fff;
}
.hit-red {
	background: url("../images/chart-sprite.png") repeat scroll 205px 0;
	border-radius: 100%;
	color: #fff;
}
.lastDetail-wrp.po-middle {
	width: 134px;
	float: right;
}
.lastDetail-wrp li {
	display: inline-block;
	height: 20px;
	margin-top: 13px;
	text-align: center;
	vertical-align: bottom;
	width: 33px;
	float: left;
}
.bleCheck {
	background: url("../images/chart-sprite.png") repeat scroll 270px -1px;
}
.orangeCheck {
	background: url("../images/chart-sprite.png") repeat scroll 294px -1px;
}


/* =========================================================== */
/* ==================  11选5 =============================== */
/* =========================================================== */
.my11X5 .winning-Num li{padding: 0 5px;}
.my11X5 .mm-ch.po-middle,
.my11X5 .winning-Num.po-middle{
    width: 149px;
}
.top-title.my11X5 .chart1,
.my11X5 .numCount-wrp.po-middle .winning-1{
    width: 280px;
}
.my11X5 .ch-chart.chart2.game-11X5,
.my11X5 .winning-2.po-middle.game-11X5{
    width: 220px;
}
.my11X5 .ch-chart.chart3.game-11X5,
.my11X5 .winning-3.po-middle.game-11X5{
    width: 220px;
}
.my11X5 .ch-chart.chart4.game-11X5,
.my11X5 .winning-4.po-middle.game-11X5{
    width: 220px;
    border-right: none;
}
.my11X5 .ch-chart.chart1 li,
.my11X5 .winning-1.po-middle li{
	margin: 0 3px 0 2px;
}
.my11X5 .firstdatail .po-middle {
	float: left;
}
.numCount-wrp.po-middle .po-middle.game-11X5 {
	margin-right: 0px;
}
.my11X5 .ch-chart {
	float: left;
}
#chartBody .game-11X5 li {
	box-sizing: border-box;
	height: 26px;
	line-height: 26px;
    margin-right: 1px;
	width: 35px;
    letter-spacing: 1px;
}
.box-green, .box-vlt, .box-yellow {
	color: #fff;
	visibility: visible !important;
}
.box-vlt {
	background: url(../images/chart-sprite.png) no-repeat scroll -176px -1px;
}
.box-green {
	background: url(../images/chart-sprite.png) no-repeat scroll -221px -1px;
}
.box-yellow {
	background: url(../images/chart-sprite.png) no-repeat scroll -266px -1px;
}
.chart-below-cntent .top-title {
	border: 0 none;
}
/* =========================================================== */
/* ==================  PK10 =============================== */
/* =========================================================== */
.pk10 .mainChart {
    overflow: scroll;
}
.pk10 .chart-wrp {
    width: 2580px;
}
.pk10 .mm-ch.po-middle, .pk10 .winning-Num.po-middle {
    width: 210px;
}
.pk10 .block.sm-ch.po-middle, .pk10 .block.mm-ch.po-middle {
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.pk10 .chart-lastWrp.po-middle {
    float: none;
    margin: 0;
    text-align: center;
    width: 310px;
    padding-top: 0;
}
.parent-pk10 {
    display: inline-block;
}
.pk10 .chart-lastWrp.po-middle li {
    display: inline-block;
    font-size: 13px;
    left: 0;
    letter-spacing: -1px;
    margin: 0 6px 0 8px;
    position: relative;
}
.pk10 .firstdatail.po-middle {
    text-align: center;
    width: 321px;
}
.pk10 .numCount-wrp.po-middle .po-middle {
    width: 194px;
}
.pk10 .winning-Num li {
    color: #e66161;
    display: inline-block;
    letter-spacing: 1px;
    padding: 0 1px;
}
.total.firstTwo-wrp.po-middle {
    width: 100%;
}
.block.po-middle {
    border-bottom: 1px dashed #ddd;
    display: block;
    text-align: left;
}
.block.sm-ch.po-middle {
    width: 100%;
}
.pk10 .block.po-middle > span {
    display: inline-block;
    text-align: right;
    width: 210px !important;
    float: left;
}
.totalPk10 .sum1.red {
    width: 118px;
    height: 20px;
    margin-right: 0;
}
.sum1 {
    display: inline-block;
}
.sum1.red {
    margin-right: 12px;
}
.pk10 .sum1 > li {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0;
    width: 19px;
}
.pk10 .sum1 {
    width: 194px;
    float: left;
}
.pk10 .lastDetail-wrp.po-middle {
    width: 317px;
}
.pk10 .lastDetail-wrp li {
    width: 50px;
}
.pk10 .top-title ul {
    padding-top: 0;
    margin-top: 0;
}
.pk10 .top-title span {
    margin-top: 10px;
}
.pk10 .ch-chart {
    width: 194px;
}
.pk10 .ch-chart li {
    width: 22px;
}
.pk10 .numCount-wrp .po-middle > li {
    width: 22px;
}
/* =========================================================== */
/* ==================  K3 =============================== */
/* =========================================================== */
.k3 .chart-lastWrp.po-middle{
    width: 310px;
}
.k3 .chart-lastWrp.po-middle li{
    margin: 0;
    width: 60px;
    text-align: center;
}
.k3 .lastDetail-wrp.po-middle{
    width: 310px;
}
.k3 .lastDetail-wrp li{
    width: 60px;
}
.k3 .ch-chart li{
    width: 29px;
    margin: 0;
}
.k3 .numCount-wrp .po-middle > li{
    width: 29px;
    margin: 0;
}
.k3 .hit-blue{
    background-position: -115px 0;
}
.k3 .hit-red{
    background-position: 209px 0;
}
.k3-total{
    border-bottom: 1px solid #dddddd;
    background-color: #e9e9e9;
}
.k3-total > span{
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    width: 181px;
    text-align: center;
    border-right: 1px solid #ddd;
    font-size: 14px;
}
.k3-total > div{
    float: left;
}
.k3-total-num{
    border-right: 1px solid #ddd;
    overflow: hidden;
}
.k3-total-num li{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 29px;
    font-size: 12px;
    text-align: center;
}

.k3-total-5{
    width: 310px;
}
.k3-total-5 ul{
    float: right;
}
.k3-total-5 ul li{
    width: 60px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: bottom;
    float: left;
    font-size: 12px;
}