.below-header{
    height: 122px;
}
.below-logo{
    margin-top: 23px;
    margin-right: 14px;
    width: 88px;
    height: 72px;
}
.below-logo img{
    width: 88px;
    height: 72px;
}
.below-count{
    width: 389px;
    height: 77px;
    background-color: #fff;
    margin-right: 21px;
    margin-top: 23px;
}
.below-phase{
    width: 175px;
    text-align: center;
    color: #646464;
    font-size: 16px;
    padding-top: 16px;
}
.below-phase p{
    line-height: 24px;
}
.below-phase span{
    padding: 0 3px;
    font-family: 'Arial';
}
.below-count-num{
    padding-top: 18px;
}
.below-count-num em{
    display: block;
    width: 28px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    background: url(../images/icon.png) -100px -100px;
    color: #fff;
    float: left;
    margin-right: 4px;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 30px;
    font-style: normal;
}
.below-count-num span{
    margin-right: 4px;
    float: left;
    display: inline-block;
    color: #ef5f23;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 20px;
    line-height: 47px;
}
.below-num{
    width: 451px;
    height: 77px;
    background-color: #fff;
    margin-right: 24px;
    margin-top: 23px;
}
.below-prize-num{
    padding-top: 16px;
}
.below-prize-num em{
    float: left;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    background: url(../images/icon.png) -150px -100px;
    margin-right: 7px;
    font-style: normal;
}
.below-history{
    color: #646464;
    width: 213px;
}
.below-history dl{}
.below-history dt{
    font-size: 16px;
}
.below-history dd{
    font-size: 14px;
    color: #646464;
    line-height: 19px;
}
.history-issue{}
.history-issue dt{
    padding-top: 20px;
}
.history-issue dd{}
.history-trend{}
.history-trend dt{
    font-size: 14px;
    color: #0c84ff;
    padding-top: 23px;
}
.history-trend dt em{
    width: 21px;
    height: 19px;
    background-position: -200px -100px;
    margin-right: 3px;
}
.history-trend dd{
    letter-spacing: 6px;
}
/* chart */
.chart-top{
    height: 63px;
    line-height: 63px;

}
.chart-issue{margin-right: 20px;}
.chart-issue-c{
    margin-right: 30px;
}
.chart-switch{}
.chart-check{
    margin-right: 15px;
}
.chart-check i{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #cdcdcd;
    float: left;
    margin: 21px 2px 0 0;
}

.chart-box{
    background-color: #fff;
    margin-bottom: 23px;
    // border: 1px solid #ddd;
}












