/*
 * 会员中心样式
 */
body{
	background-color: #f0f1f6;
}
body.bg-whit{
	background-color: #fff;
}
.user-header{
	height: 84px;
	padding-top: 11px;
	margin-bottom: 12px;
}
.user-nav{
	padding-bottom: 150px;
	border: 1px solid #e4e4e4;
	margin-bottom: 40px;
	margin-right: 15px;
	background-color: #fff;
}

.user-nav dl{
	width: 169px;
	margin-bottom: 2px;
	overflow: hidden;
	height: 55px;
}
.user-nav dl.open{
	height: auto;
}
.user-nav dl dt{
	height: 55px;
	line-height: 55px;
	color: #fff;
	padding-left: 38px;
	cursor: pointer;
}
.user-nav dl dt em{
    width: 25px;
    height: 25px;
    float: left;
    margin: 18px 10px 0 0;
}
.user-nav dl dt span{
	float: left;
}
.user-nav dl dt i{
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-top: 25px;
    background-position: -200px 150px;
}
.user-nav dl.open dt i{
    background-position: -150px 150px;
}
.user-nav dl dd{
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 18px;
}
.user-nav dl dd a{
	color: #666;
	display: block;
}
.user-nav dl dd a.active,
.user-nav dl dd a:hover{
	background-color: #f2f2f2;
}
.user-content{
	width: 1014px;
}
.user-con{
	background-color: #fff;
	border: 1px solid #e4e4e4;
}
.user-tt{
    height: 52px;
    line-height: 52px;
    border-bottom: 2px solid #ededed;
}
.user-tt span{
	display: block;
	height: 52px;
	line-height: 52px;
	width: 252px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-weight: bold;
}
.user-search{
	padding-top: 30px;
	margin-bottom: 20px;
	color: #666;
}
.user-s-tt,
.user-s-sel,
.user-s-day{
	float: left;
}
.user-s-tt{
	width: 88px;
	text-align: right;
	padding-right: 10px;
	height: 35px;
	line-height: 35px;
}
.user-s-sel{}
.user-s-sel select{
	width: 133px;
	height: 36px;
	line-height: 36px;
	padding: 0;
	border: 1px solid #ededed;
}
.user-s-sel select option{}
.user-s-day{}
.user-s-day > input{
	width: 133px;
	height: 36px;
	line-height: 36px;
	border: none;
	padding: 0 10px;
	border: 1px solid #ededed;
}
.user-s-day > input.datepick{
	background: url(../images/date-bg.png) 110px 6px no-repeat;
	color: #666;
}
.user-s-day span{
	display: inline-block;
	width: 69px;
	text-align: center;
	line-height: 36px;
}
.user-s-btn{
	width: 106px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	margin-right: 23px;
}
.user-table{
	color: #666;
}
.user-table-t{
	background-color: #f1f1f1;
	height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
}
.user-table-t li{
	float: left;
	text-align: center;
}
.user-table-c{
	background-color: #f7f7f7;
	min-height: 400px;
	// overflow: auto;
}
.user-table-c{

}
.user-table-c li{
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
}
.user-table-c li.empty{
	text-align: center;
	width: 100%;
	height: 52px;
	line-height: 52px;
	border-bottom: 2px solid #eaeaea;
	font-size: 15px;
	letter-spacing: 2px;
}
.user-table-c li > div{
	float: left;
}
/* 充值记录 */
.user-czjl .t1{width: 112px;}
.user-czjl .t2{width: 106px;}
.user-czjl .t3{width: 113px;}
.user-czjl .t4{width: 165px;}
.user-czjl .t5{width: 123px;}
.user-czjl div.t5{font-size: 12px;}
.user-czjl .t6{width: 163px;}
.user-czjl div.t6{font-size: 12px;}
.user-czjl .t7{width: 90px;}
.user-czjl .t8{width: 120px;}

/* 提款记录 */
.user-tkjl .t1{width: 112px;}
.user-tkjl .t2{width: 222px;}
.user-tkjl .t3{width: 174px;}
.user-tkjl .t4{width: 140px;}
.user-tkjl div.t4{font-size: 12px;}
.user-tkjl .t5{width: 178px;}
.user-tkjl .t6{width: 166px;}

.user-table-f{
	background-color: #fff;
	padding-top: 12px;
	height: 58px;
	line-height: 46px;
	font-size: 16px;
	overflow: hidden;
}
.user-table-f p{
	padding-left: 23px;
	margin-right: 44px;
	float: left;
}
.user-table-f p span{}

/* 网银转账 */
.user-transfer{
	height: 530px;
	padding-top: 34px;
	padding-left: 38px;
}
.user-form{
	float: left;
	color: #666;
}
.user-form > li{
	margin-bottom: 37px;
	float: left;
	width: 100%;
}
.user-form-t{
	height: 36px;
	line-height: 36px;
	/*font-weight: bold;*/
	float: left;
}
.user-form-c{
	float: left;
}
.user-form-c{}
.user-form-c input[type="text"],
.user-form-c input[type="password"]{
	width: 218px;
	height: 34px;
	line-height: 34px;
	padding: 0 10px;
	border: 1px solid #ededed;
	font-size: 14px;
}
.user-form-c select{
	width: 218px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ededed;
}
.user-form-c select option{}
.user-bank-list{}
.user-transfer-btn{
	width: 178px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 24px;
    letter-spacing: 5px;
    bottom: 50px;
    right: 110px;
}
.user-tips{
	margin-top: 15px;
	background-color: #f7f7f7;
	padding: 10px 40px;
	margin-bottom: 85px;
}
.user-tips-t{
	font-size: 16px;
	line-height: 30px;
}
.user-tips > p{
    line-height: 26px;
    font-size: 15px;
    color: #666;
    letter-spacing: 2px;
}
/* 微信转账 + 支付宝转账 */
.wechart,.alipay{
	height: 670px;
}
.quoat-list{
	font-size: 15px;
	color: #666;
	margin: 20px 0;
}
.quoat-list li{
	float: left;
	border: 1px solid #ededed;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	margin-right: 20px;
	border-radius: 3px;
	cursor: pointer;
}
.quoat-list li.active{
	border-color: #ffeab9;
	background-color: #ffeab9;
}
.quoat-list li.disabled{
	border-color: #ededed;
	background-color: #ededed;
    cursor: no-drop;
}
/* 线上支付 */
.online{
	height: 547px;
}
/* 提款申请 */
.user-tk-table{
	padding: 8px 23px;
	color: #666;
	overflow: hidden;
}
.user-tk-table > p{
	font-size: 16px;
	height: 44px;
	line-height: 44px;
}
.user-tk-table ul{
	overflow: hidden;
	border: 1px solid #f1f1f1;
	font-size: 14px;
	margin-bottom: 20px;
}
.user-tk-table ul li{
	border-bottom: 1px solid #f6f6f6;
	overflow: hidden;
	height: 38px;
	line-height: 38px;
}
.user-tk-table ul li.active,
.user-tk-table ul li:hover{
	background-color: #BFE1E5;
}
.user-tk-table ul li.tk-table-tt{
	height: 40px;
	line-height: 40px;
	background-color: #f1f1f1;
}
.user-tk-table ul li.empty{
	text-align: center;
}
.user-tk-table ul li div{
	float: left;
	letter-spacing: 2px;
	text-align: center;
}
.user-tk-table .t1{width: 160px;}
.user-tk-table .t2{width: 185px;}
.user-tk-table .t3{width: 234px;}
.user-tk-table .t4{width: 110px;}
.user-tk-table .t5{width: 150px;}
.user-tk-table .t6{width: 125px;}
.user-tk-form{

}
.user-tk-form > div{}
.add-bank-card{
	display: block;
	width: 142px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	margin-bottom: 40px;
}
.add-bank-card em{

}
.user-tk-tt{
	height: 36px;
	line-height: 36px;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 3px;
}
.user-tk-inp{
	width: 204px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ededed;
	padding: 0 10px;
	margin-right: 20px;
}
.user-tk-ye{
	font-weight: bold;
}
.user-tk-btn{
    width: 178px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 5px;
    margin-right: 47px;
    margin-bottom: 31px;
    border-radius: 3px;
}
/* 绑定提款卡 */
.user-bindcard{
	background-color: #fff;
	color: #666;
	font-size: 16px;
	padding-top: 37px;
	padding-left: 40px;
	height: 670px;
	margin-bottom: 85px;
}
.user-bindcard .user-form{}
.user-bindcard .user-form li{
	margin-bottom: 16px;
}
.user-bindcard .user-form-t{
	font-weight: normal;
	width: 120px;
    letter-spacing: 5px;
}
.user-bindcard .user-form-c > em{
	height: 36px;
	line-height: 36px;
	display: inline-block;
	color: #f83833;
	font-style: normal;
	padding: 0 10px;
}
.user-bindcard-add{}
.bind-add{
	padding-top: 47px;
	clear: both;
}
.bind-add span{
	display: inline-block;
	float: left;
	width: 87px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	margin-right: 22px;
}
.bind-add p{
	font-size: 14px;
	line-height: 40px;
}
/* 我的资料 */
/* 登录密码 */
.user-profile,
.login-password{
	padding-top: 40px;
	padding-left: 40px;
	height: 533px;
}
.user-profile .user-form-t,
.login-password .user-form-t{
	font-weight: normal;
	width: 135px;
	letter-spacing: 3px;
}
.user-profile .user-form > li,
.login-password .user-form > li{
    width: 45%;
    margin-bottom: 16px;
}
.user-profile .user-form-c > em,
.login-password .user-form-c > em{
	height: 36px;
	line-height: 36px;
	display: inline-block;
	color: #f83833;
	font-style: normal;
	padding: 0 10px;
}
.user-profile-btn,
.login-password-btn{
	width: 142px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 5px;
	bottom: 50px;
	right: 110px;
}
/* 资金详情 */
.user-funds{
	color: #666;
}
.user-funds-tt{
    overflow: hidden;
    padding: 11px 25px 0;
    border-bottom: 1px solid #dedede;
    margin-bottom: 21px;
}
.user-funds-tt li{
    width: 136px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    border: 1px solid #dedede;
    margin-bottom: -1px;
    cursor: pointer;
    background-color: #f6f6f6;
    font-size: 14px;
    margin-left: -1px;
}
.user-funds-tt li.active{
	background-color: #fff;
}
.user-funds-con{}
.user-funds-con li{}
.funds-con-tt{
	height: 44px;
	line-height: 44px;
	text-indent: 10px;
}
.user-funds-con table{
	margin-left: -1px;
    margin-bottom: -1px;
	width: 1014px;
	border-color: #dedede;
}
.user-funds-con th{
	height: 42px;
	text-align: center;
	vertical-align: middle;
	background-color: #f0f0f0;
	font-weight: normal;
}
.user-funds-con td{
	line-height: 35px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}
/* 投注记录 */
.user-search.betting-search{
	margin-top: -36px;
}
.betting-record{
	font-size: 14px;
}
.betting-record .t1{width: 110px;}
.betting-record .t2{width: 90px;}
.betting-record .t3{width: 210px;}
.betting-record .t4{width: 127px;}
.betting-record .t5{width: 87px;}
.betting-record .t6{width: 137px;}
.betting-record .t7{width: 125px;}
.betting-record .t8{width: 107px;}
// .betting-record .t9{width: 80px;}
.user-s-inp{
    float: left;
}
.user-s-inp input[type="text"]{
	width: 133px;
	height: 36px;
	line-height: 36px;
	border: none;
	padding: 0 10px;
	border: 1px solid #ededed;
}

/* 追号记录 */
.chase-record{
	font-size: 14px;
}
.chase-record .user-table-c li > div{
	letter-spacing: 2px;
}
.chase-record .t1{width: 110px;}
.chase-record .t2{width: 117px;}
.chase-record .t3{width: 109px;}
.chase-record .t4{width: 117px;}
.chase-record .t5{width: 110px;}
.chase-record .t6{width: 114px;}
.chase-record .t7{width: 105px;}
.chase-record .t8{width: 113px;}
.chase-record .t9{width: 100px;}

/* 账变明细 */
.account-details{}
.account-details{}
.account-details .user-table-c li{
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #ededed;
}
.account-details .user-table-c li > div{}
.account-details .t1{width: 260px;}
.account-details .t2{width: 200px;}
.account-details .t3{width: 240px;}
.account-details .t4{width: 200px;}
.account-details .t5{width: 100px;}
/* 登录密码 */
.login-password .user-form > li{
    width: 100%;
}

/*  */ 
.user-link-reg{
	height: 670px;
	color: #666;
	font-size: 16px;
}
.link-reg-bar{
	margin-top: 30px;
	margin-bottom: 20px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	color: #666;
}
.link-reg-bar > div{
	float: left;
	margin-right: 10px;
}
.link-reg-tt{
	width: 110px;
	margin-right: 3px;
	text-align: right;
}
.link-reg-con{}
.link-reg-con span{
	display: inline-block;
	width: 66px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #666;
	background-color: #e4e4e4;
	border: 1px solid #ededed;
	margin-right: -1px;
	cursor: pointer;
}
.link-reg-con input[type="text"]{
	width: 131px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ededed;
	padding: 5px;
}
.link-reg-box{}
.reg-sider-t{
	height: 40px;
	line-height: 40px;
	background-color: #f1f1f1;
	margin-bottom: 2px;
}
.reg-sider-t span{
	display: inline-block;
}
.reg-sider-t span.t1{
	width: 550px;
	text-indent: 93px;
}
.reg-sider-c{
	height: 541px;
	background-color: #f7f7f7;
}
.reg-sider-list{}
.reg-sider-list li{
	height: 32px;
	line-height: 32px;
	padding-top: 30px;
	padding-left: 54px;
}
.reg-sider-check{
	width: 175px; 
	letter-spacing: 3px;
}
.reg-sider-check em{
	display: block;
	width: 14px;
	height: 14px;
	background-color: #f7f7f7;
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	float: left;
	cursor: pointer;
	margin-right: 11px;
	margin-top: 8px;
}
.reg-sider-check em.active{
	border-color: #029fb4;
	background-color: #029fb4;
}
.reg-sider-list li > div{
	width: 330px;
}
.reg-sider-num{
	float: left;
	margin-right: 24px;
}
.reg-sider-btn{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #bbb;
	background-color: #f6f6f6;
	font-size: 24px;
	color: #7c7c7c;
	margin-right: 5px;
}
.user-link-btn{
	width: 122px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-right: 47px;
    margin-bottom: 31px;
    border-radius: 3px;
    bottom: 40px;
    right: 40px;
}
.user-ljgl{
	font-size: 14px;
}
.user-ljgl .t1{width: 110px;}
.user-ljgl .t2{width: 180px;}
.user-ljgl .t3{width: 87px;}
.user-ljgl .t4{width: 128px;}
.user-ljgl .t5{width: 85px;}
.user-ljgl .t6{width: 150px;}
.user-ljgl .t7{width: 150px;}
.user-ljgl .t8{width: 104px;}
.user-ljgl .user-table-c li > div.t2{text-decoration: underline;cursor: pointer;}
.user-ljgl .user-table-c li > div.t8:hover{
	color: #f83833;
	cursor: pointer;
}
/* 报表管理 */
.user-report-tt{
	color: #666;
	line-height: 50px;
	margin-top: -20px;
	text-indent: 30px;
}
.user-report-tt span{
	font-size: 14px;
}
.user-bbgl{
	font-size: 14px;
}
.user-bbgl .t1{width: 160px;}
.user-bbgl .t2{width: 160px;}
.user-bbgl .t3{width: 160px;}
.user-bbgl .t4{width: 160px;}
.user-bbgl .t5{width: 160px;}
.user-bbgl .t6{width: 160px;}

/* 下级管理 */
.user-xjgl{
	font-size: 14px;
}
.user-xjgl .t1{width: 140px;}
.user-xjgl .t2{width: 170px;}
.user-xjgl .t3{width: 160px;}
.user-xjgl .t4{width: 170px;}
.user-xjgl .t5{width: 180px;}
.user-xjgl .t6{width: 170px;}

/* 团队投注 */
.team-betting{
	font-size: 14px;
}
.team-betting .user-table-c li > div{letter-spacing: 1px;}
.team-betting .t1{width: 110px;}
.team-betting .t2{width: 88px;}
.team-betting .t3{width: 110px;}
.team-betting .t4{width: 170px;}
.team-betting .t5{width: 140px;}
.team-betting .t6{width: 100px;}
.team-betting .t7{width: 125px;}
.team-betting .t8{width: 107px;}



/* 分页 */
.pagination{text-align:right;padding:20px 20px;line-height:27px;height:27px;background:#fff;}
.pagination span{font-size:14px;display:block;float:left;}
.pagination ul{display:inline-block;}
.pagination li{display:inline-block;float:left;margin-right:3px;overflow:hidden;}
.pagination ul>li>a,
.pagination ul>li>span{float:left;padding:0px 10px;text-decoration:none;border:1px solid #e5e5e5;color:#333;font-size:14px;}
.pagination ul>li>span.active{background-color:#5095cd;border-color:#5095cd;color:#fff;}
.pagination li a:hover{cursor:pointer;text-decoration:none;border-color:#f80;color:#f60;}
.pagination-opt_go{width:43px;height:20px;float:left;line-height:20px;border:1px solid #ccc;font-size:12px;text-align:center;cursor:pointer;}
.pagination-opt_go:hover{cursor:pointer;text-decoration:none;border-color:#f80;color:#f60;}
.pagination-pageNo{width:36px;height:20px;font-size:12px;line-height:20px;padding:0;margin:0 5px 0 0;text-align:center;float:left;border:1px solid #e5e5e5;color:#666;}
.pagination.center{text-align:center;}
.pagination.left{text-align:left;}




/* niceSelect 扩展 */
.user-content .nice-select,
.user-content .nice-select:hover,
.user-content .nice-select:active, .user-content .nice-select.open, .user-content .nice-select:focus{
	border: 1px solid #ededed;
}
.user-content .nice-select{
	width: 130px;
	border-radius: 0px;
	border-color: #ededed;
}
.user-content .nice-select.open{
	color: #fff;
	background-color: #008698;
}
.user-content .nice-select.open:after{
	border-color: #fff;
}
.user-content .nice-select .option.selected{
	font-weight: normal;
	color: #008698;
}
.user-content .nice-select .option{
	color: #666;
}
.user-content .nice-select.open .list{
	min-width: 128px;
    border: 1px solid #008698;
    border-radius: 0px;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
}

.user-bank-list .nice-select{
	width: 218px;
}
.user-bank-list .nice-select .option{
	width: 214px;
}











